@font-face {
    font-family: "monafont";
    src: url('../font/monafont.TTF');
}
@font-face {
    font-family: "quirlycues";
    src: url('../font/quirlycues.ttf');
}
@font-face {
    font-family: "adidas";
    src: url('../font/adidas.otf');
}
@font-face {
    font-family: "loveofyellow";
    src: url('../font/loveofyellow.ttf');
}
@font-face {
    font-family: "springchicken";
    src: url('../font/springchicken.ttf');
}